body {
  font-family: 'Noto Sans KR', sans-serif;

}

* {
  margin: 0;
}

.top_box {
  background-color: #f0ffdd;
  margin-top: 0px;
  width: 100vw;
  height: 146px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #a8a6a6;
}

.top_logo {
  float: left;
  margin-left: 1.5vw;
  width: 16vw;
  height: 17vh;
  margin-top: 2vh;
  cursor: pointer;
}

.top_header {
  display: inline-block;
  width: calc(100vw - 300px);
  height: 127px;

}

.top_header_top_banner {
  display: inline-block;
  margin-left: 45vw;
  margin-top: 6.5vh;

}

.button1 {
  /*�α����ʹ�ư*/
  background-color: #f0ffdd;
  /* Green */
  border: none;
  color: grey;
  padding: 0px 1vw;
  text-align: right;
  display: inline-block;
  font-size: 0.8vw;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(169, 173, 188);
  cursor: pointer;
}

.button1:hover {

  color: #000000;
}

.button2:hover {

  color: #000000;
}

.button3:hover {

  color: #000000;
}

.button2 {
  /*�α����ʹ�ư*/
  background-color: #f0ffdd;
  /* Green */
  border: none;
  color: grey;
  padding: 0px 1vw;
  text-align: right;
  display: inline-block;
  font-size: 0.8vw;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(169, 173, 188);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(169, 173, 188);
  cursor: pointer;
}

.button3 {
  /*�α����ʹ�ư*/
  background-color: #f0ffdd;
  /* Green */
  border: none;
  color: grey;
  padding: 0px 1vw;
  text-align: right;
  display: inline-block;
  font-size: 0.8vw;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(169, 173, 188);
  cursor: pointer;
}

.button5 :hover {
  color: #44bf6e;
}

.margin2 {
  margin-left: 800px;
}

.button4 {
  background-color: #f0ffdd;
  /* Green */
  border: none;
  color: #6fa56f;
  padding: 0px 1.8vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2vw;
  float: left;
  margin-bottom: 2vh;
  cursor: pointer;
}

.button4 :hover {
  color: #44bf6e;
}

.button5 {
  background-color: #f0ffdd;
  /* Green */
  border: none;
  color: #6fa56f;
  padding: 0px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2vw;
  cursor: pointer;
  float: left;
  margin-bottom: 2vh;
  margin-left: 35vw;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}



.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  margin-bottom: 2vh;
  margin-top: 3.5vh;
  margin-left: 37vw;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive .dropdown {
    float: none;
  }

  .navbar.responsive .dropdown-content {
    position: relative;
  }

  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.top_header_bottom_banner {
  margin-left: 5vw;
  margin-top: 24px;
}

.bottom_box {
  width: 100vw;
  height: 30vh;
  background-color: #f5f5f5;
  margin-top: 1vh;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #d45c61;
}

.bottom_box_under {
  width: 100vw;
  height: 150px;
  background-color: #4c4c4c;
}

.bottom_box_unders {
  width: 100vw;
  height: 44px;
  background-color: #333333;
}

.bottom_box_underss {
  width: 100vw;
  height: 120px;
  background-color: #ffffff;
}

.bottom_box_1 {
  display: inline-block;
  width: 20vw;
  height: 206px;
  margin-left: 19vw;
  float: left;
}

.bottom_box_2 {
  display: inline-block;
  width: 20vw;
  height: 25vh;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: black;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: black;
  padding-left: 25px;
  padding-right: 25px;
}

.bottom_box_3 {
  display: inline-block;
  width: 19vw;
  height: 192px;
  margin-right: 18vw;
  float: right;
}

.telephon {
  width: 23px;
  height: 23px;
  display: inline-block;
}

.telephon2 {
  display: inline-block;
  width: 155px;
  height: 30px;
  color: #d4708d;
  font-size: 23px;
  margin-bottom: 1vh;
}

.a1 {
  color: #777777;
}

.a2 {
  color: #555555;
}

.a3 {
  color: #666666;
}

.a4 {
  color: #333333;
}

.a5 {
  color: #868686;
}

.a6 {
  color: #666666;
  display: inline;
}

.temp2 {
  display: inline-block;
  border-radius: 50%;
  width: 4vw;
  height: 8vh;
  background-color: #f5f5f5;
  margin-bottom: 4px;
}

.quick_menu_box {
  display: inline-block;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
}

.quick_menu_box {
  width: 4vw;
  text-align: center;
}

.quick_box {
  position: fixed;
  z-index: 300;
  top: 0;
  right: 0;
  width: 90px;
  height: 330px;
  border-left: solid 1px #ccc;
  background: #fff;
}

.quick_box_img {
  width: 70px;
  height: 72px;
}

.bottom_box_under_1 {
  display: inline-block;
  width: 13vw;
  height: 120px;
  margin-top: 19px;
  cursor: pointer;

}

.bottom_box_under_2 {
  margin-bottom: 2.5vh;
  cursor: pointer;
  color: #ededed;
  font-size: 1vw;
}

.bottom_box_under_3 {
  color: #b4b4b4;
  font-size: 0.95vw;
}

.bottom_box_under {
  display: table;
  margin-left: auto;
  margin-right: auto;

}

.f {
  display: inline-block;
  width: auto;
  height: 40px;
  color: #ededed;
  font-size: 0.95vw;
  padding-top: 1.5vh;
  margin-right: 2vw;
  cursor: pointer;
}

.top_logo2 {
  width: 11vw;
}

.k {
  display: inline-block;
  color: #666666;
}

.k2 {
  color: #666666;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.board_ask a:hover {
  color: yellowgreen;
  text-decoration: underline;
}

#wrap h2 {
  font-size: 34px;
  line-height: 34px;
  color: #000;
  font-weight: 700;
  padding-top: 40px;
}

#wrap {

  text-align: center;
  width: 100vw;
}

#notice {
  display: block;

}

#qna {
  display: none;

}

#event {
  display: none;

}

.panel {

  width: 1050px;
  height: auto;
  display: none;
  background-color: white;
  overflow: hidden;

  background-color: #f0ffdd;
}

.panel p {

  padding: 20px;
  margin-left: 20px;
}


.panel2 {

  width: 1050px;
  height: auto;
  display: none;
  background-color: white;
  overflow: hidden;

  background-color: #f0ffdd;
}

.panel2 p {

  padding: 20px;
  margin-left: 20px;
}

.panel3 {

  width: 1050px;
  height: auto;
  display: none;
  background-color: white;
  overflow: hidden;

  background-color: #f0ffdd;
}

.panel3 p {

  padding: 20px;
  margin-left: 20px;
}

.write {

  border: 2px solid #71da71;
  color: white;
  width: 151px;
  background-color: #71da71;

  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;


}

.write-layer {
  width: 800px;

  background: #fff;
  color: #717171;
  margin-left: auto;
  margin-right: auto;
  position: relative;

}
.close:hover, .close:focus {
color: red;
cursor: pointer;
}



.write-layer h4 {

  margin-left: 20px;
  padding: 14px 0;
  border-bottom: 1px solid #717171;
  color: #000;
  font-size: 18px;
}

.write-layer input {
  outline: none;
  color: #717171;
}


caption,
legend {
  width: 0px;
  height: 0px;
  visibility: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

.write-layer .scroll-box {
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 10px;
}

.write-layer .goods {
  float: left;

}

.write-layer .goods .thumbnail {
  float: left;
  width: 94px;

}

.write-layer .goods .thumbnail img {
  width: 92px;
  height: 80px;
  border: none;
  vertical-align: top;
  margin: 0;
}

.write-layer .goods .txt {
  margin-top: 13px;
  margin-left: 10px;
  float: right;
  width: 582px;
}

.write-layer .goods .txt p {
  color: #a9a9a9;
  line-height: 20px;
}

.write-layer .board-write {
  margin: 0 17px 0 10px;
  padding: 10px 0;

}

.write-layer .board-write table {
  width: 100%;
}

.board-write table,
th,
td {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;

}

.write-layer .board-write table th {
  padding: 10px 0 0;
  color: #555;
  text-align: left;
  vertical-align: top;
}

.write-layer .board-write table td {
  height: 28px;
  padding: 6px 0;
  color: #666;
}

.write-layer .board-write table td .text {
  width: 600px;
  height: 26px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: .25em;
  line-height: 26px;
}


.board-write input .radio {
  width: 13px;
  height: 13px;
  vertical-align: top;
}

.write-layer .board-write table td textarea {
  width: 600px;
  height: 123px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: .25em;
  line-height: 1.8;
  outline: none;
  color: #717171;
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
  overflow: auto;
}

.file_input label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 100px;
  height: 30px;
  background: #a4d18e;
  color: #fff;
  text-align: center;
  line-height: 30px;

}

.file_input label input {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.file_input input[type=text] {
  vertical-align: middle;
  display: inline-block;
  width: 515px;
  height: 28px;
  line-height: 28px;
  font-size: 11px;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: .25em;

}


.write-layer .btn {
  margin: 0 17px 0 0;
  padding-bottom: 5px;
  font-size: 0px;
  text-align: center;
}

.write-layer .button6 {
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  margin: 4px;
}


.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  ;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  top: 0;
  left: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 20px;

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10px;
  /* 15% from the top and centered */

  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  background-color: white;
  border: none;
  float: left;
  top: 0;
  color: #555;
  font-size: 40px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.pagination {
  margin-bottom: 8vw;
  padding: 20px;
  font-size: 15px;
  text-align: center;


}


.pagination a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination :hover:not(.active) {
  background-color: #ddd;
}




.board_ask {

  width: 70vw;

}


.title {
  height: 45px;
  font-weight: bold;
  font-size: 16px;
  clear: both;
}

.asklist td {

  border-bottom: 1px solid #dbdbdb;
  vertical-align: middle;
  padding: 12px 0 13px;

}



.num {
  float: left;
  padding-left: 2vw;
  text-align: center;
  width: 4%;
}

.sub {
  float: left;
  text-align: center;
  width: 15%;
}

.ask_title {
  padding-left: 2vw;
  width: 50%;
  float: left;

  text-align: left;
}

html,
body {
  height: 100%;
}

.content {
  width: 100vw;
  height: 700px;
}

#wrap .button6 {
  /*회원가입,아이디패스워드찾기*/
  border: solid 1px #00cc00;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: center;
  color: black;
}

#wrap .button7 {
  /*회원가입,아이디패스워드찾기*/
  border: none;
  border: solid 1px #00cc00;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: center;
  color: black;
}

#wrap .button8 {
  /*회원가입,아이디패스워드찾기*/
  border: none;
  border: solid 1px #00cc00;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: center;
  color: black;
}

.blink {
  height: 40px;
}

.content1 {
  margin-left: 3vw;
}

.accordion {
  font-size: 13px;
  border: none;
  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid #999999;
  height: 8vh;
  width: 70vw;

}

.accordion:hover {
  background-color: #f4fffa;
}



.accordion2 {
  font-size: 13px;
  border: none;
  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid #999999;
  height: 8vh;
  width: 70vw;

}

.accordion2:hover {
  background-color: #f4fffa;
}



.accordion3 {
  font-size: 13px;
  border: none;
  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid #999999;
  height: 8vh;
  width: 70vw;

}

.accordion3:hover {
  background-color: #f4fffa;
}


.panel {

  width: auto;
  height: auto;
  display: none;
  background-color: white;
  overflow: hidden;

  background-color: #f0ffdd;
}

.panel p {

  padding: 20px;
  margin-left: 20px;
}

.event_img {
  width: 100%;
  margin-bottom: 30vw;
}

.event_img img {

  width: 15vw;
  height: 15vw;
  border: 0.5px solid #999999;

}

.img_table td {
  width: 20%;
  font-size: 12px;
}

.img_table span {
  cursor: pointer;
}

.img_table span:hover {
  color: #71da71;
  text-decoration: underline;
}


.animate2 {
  -webkit-animation: animatezoom2 1s;
  animation: animatezoom2 1s
}

@-webkit-keyframes animatezoom2 {
  from {
    -webkit-transform: translate(0, 500px)
  }

  to {
    -webkit-transform: translate(0, 0)
  }
}

@keyframes animatezoom2 {
  from {
    transform: translate(0, 500px)
  }

  to {
    transform: translate(0, 0)
  }
}


.open-button {
  background-color: #ffff66;
  color: white;
  padding: 16px 20px;

  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  margin-left: 20px;

  border-radius: 50%;
  border: none;
  float: left;

}

.grb-btn-cls {
  padding: 0;
  margin: 0;
  line-height: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 15px;
  margin-left: 20px;
  border: 3px solid #f1f1f1;

  z-index: 9;
  float: left;
  border-radius: 5px;

  box-shadow: 0 0 7px 1px rgba(100, 100, 100, .4);
}

/* Add styles to the form container */
.form-container {
  width: 250px;
  height: 370px;
  padding: 10px;
  background-color: white;

}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  margin-top: 5px;

  border-radius: 5px;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.form-container p {
  opacity: 1;
}

.main_img {
  width: 200px;
  height: 180px;

}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  border-top: 1.3px solid #b4e4cd;


}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
